<!-- Footer Start -->
<div class="footer container-fluid position-relative bg-dark bg-light-radial text-white-50 py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-6 pe-lg-5">
            <a routerLink="/Accueil" class="navbar-brand">
                <!--<h1 class="m-0 display-4 text-uppercase text-white"><i class="bi bi-building text-primary me-2"></i>Yadjia-Immobilier</h1>-->
                <img src="assets/img/logo-2.jpeg" class="img-fluid img-thumbnail" style="width: 50%;"  alt="" srcset="">
            </a>
            <br><br>
            <p>Notre objectif chez Yadjia Consulting est de fournir un service exceptionnel à nos clients en combinant notre expertise en construction et notre passion pour la musique gospel.</p>
            <p><i class="fa fa-map-marker-alt me-2"></i>Cocody 2 plateaux rue des jardins, Archidek, Abidjan, Côte d'ivoire</p>
            <p><i class="fa fa-phone-alt me-2"></i>+225 2722 466 202</p>
            <p><i class="fa fa-envelope me-2"></i>contact@yadjia.com</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-6 ps-lg-5">
            <div class="row g-5">
                <div class="col-sm-6">
                    <h4 class="text-white text-uppercase mb-4">Liens Rpides</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" routerLink="/Services"><i class="fa fa-angle-right me-2"></i>Nos Services</a>
                        <a class="text-white-50 mb-2" routerLink="/Projet"><i class="fa fa-angle-right me-2"></i>Nos Projets</a>
                        <a class="text-white-50" routerLink="/Contacts"><i class="fa fa-angle-right me-2"></i>Contactez-nous</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 class="text-white text-uppercase mb-4">Liens Populaires</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" routerLink="/Accueil"><i class="fa fa-angle-right me-2"></i>Accueil</a>
                        <a class="text-white-50 mb-2" routerLink="/Apropos"><i class="fa fa-angle-right me-2"></i>À propos</a>
                        <a class="text-white-50 mb-2" routerLink="/Services"><i class="fa fa-angle-right me-2"></i>Nos Services</a>
                        <a class="text-white-50 mb-2" routerLink="/Projet"><i class="fa fa-angle-right me-2"></i>Nos Projets</a>
                        <a class="text-white-50" routerLink="/Contacts"><i class="fa fa-angle-right me-2"></i>Contactez-nous</a>
                    </div>
                </div>
                <!--<div class="col-sm-12">
                    <h4 class="text-white text-uppercase mb-4">Bulletin</h4>
                    <div class="w-100">
                        <div class="input-group">
                            <input type="text" class="form-control border-light" style="padding: 20px 30px;" placeholder="Your Email Address"><button class="btn btn-primary px-4">Sign Up</button>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark bg-light-radial text-white border-top border-primary px-0">
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="py-4 px-5 text-center text-md-start">
            <p class="mb-0">&copy; <a class="text-primary" href="#">Yadjia-Immobilier</a>. Tous les droits sont réservés.</p>
        </div>
        <div class="py-4 px-5 bg-primary footer-shape position-relative text-center text-md-end">
            <p class="mb-0">Conçu par <a class="text-dark" href="#">Kernel_MK</a></p>
            <p class="mb-0">Distribué par <a class="text-dark" href="#">i-yelen</a></p>
        </div>
    </div>
</div>
<!-- Footer End -->